h1 {
    border-bottom: solid aliceblue;
}
p {
    border: solid;
border: color(srgb red rgb(71, 180, 71) blue);
border-radius: 100px;
border-width: 5px;
background-color: red;
}
h1 {
    border-bottom: solid aliceblue;
}
p {
    border: solid;
border: color(srgb red rgb(71, 180, 71) blue);
border-radius: 100px;
border-width: 5px;
background-color: red;
}